In [7]:
import pandas as pd
import numpy as np
from logger import log_info

In [8]:
df = pd.read_csv("../data/raw/students_raw.csv")

In [9]:
df

   hours_studied  attendance  assignments_completed  past_scores  final_score
0              5          90                      8           78           82
1              3          70                      6           60           65
2              7          95                      9           88           92
3              2          60                      4           55           58
4              8          98                     10           90           95
5              6          88                      7           80           84
6              4          75                      5           62           68
7              9          99                     10           92           97
8              1          50                      3           45           50
9             10         100                     10           95           99

In [10]:
import sys
sys.path.append("../src")

from preprocessing import clean_data

clean_df = clean_data(df)
clean_df

   hours_studied  attendance  assignments_completed  past_scores  final_score
0              5          90                      8           78           82
1              3          70                      6           60           65
2              7          95                      9           88           92
3              2          60                      4           55           58
4              8          98                     10           90           95
5              6          88                      7           80           84
6              4          75                      5           62           68
7              9          99                     10           92           97
8              1          50                      3           45           50
9             10         100                     10           95           99

In [11]:
log_info("Notebook started cleaning process")
clean_df = clean_data(df)
log_info("Notebook finished cleaning")